{% extends 'base.html' %}
{% load permission_tags %}
{%block content%}
{% load static %}
<head>
   {% block css %}

   <style>
      .header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 42px;
    position: relative;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.card-header1{
   padding: .2rem;
    margin-bottom: 0;
    background-color: rgb(58, 57, 108);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    width: auto;
    height: auto;
}
h4{
   color: whitesmoke;
}
.fieldset {
  position: relative;
  border: 1px solid #ddd;
  padding: 10px;
}

.fieldset h1 {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1;
  margin: -9px 0 0; /* half of font-size */
  background: #fff;
  padding: 0 3px;
}
   </style>
    {% endblock %}
</head>
<section id="main-content">
  <section class="wrapper">
<main>
   <div class="container" style="background: url('/static/images/armony_light.png') no-repeat center fixed; height: 653px;">
      <div class="row justify-content-center">
         <div class="col-lg-8" >
            <div class="card shadow-lg border-0 rounded-lg mt-2 w-1 p-2 " style="background-color: rgba(255, 255, 255, 0.532);">
               <div class="card-header1">
                  <h4 class="text-center font-weight-light my-0">CREATION D'UNE ORGANISATION</h4>
               </div>
               <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'creation-institution' %}">
                  {% csrf_token %}         
                     <div class="row mb-1">
                        <div class="col-md-2">
                           <div class="form-floating mb-1 mb-md-0">
                              <strong><label for="inputFirstName">code</label></strong> 
                              {{form.cd_organisation}}
                           </div>
                        </div>
                        
                        <div class="col-md-10">
                           <div class="form-floating mb-1 mb-md-0">
                              <strong><label for="inputFirstName">Libelle</label></strong> 
                              {{form.nom}}
                           </div>
                        </div>
                        
                        
                     </div>
                     <div class="row mb-1">
                        <div class="col-md-4">
                           <div class="form-floating">
                              <strong><label for="inputFirstName">Sigle</label></strong> 
                              {{form.sigle}}
                           </div>
                        </div>
                        <div class="col-md-8">
                           <div class="form-floating mb-1 mb-md-0">
                              <strong><label for="inputFirstName">Tutelle</label></strong> 
                              {{form.tutelle}}
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-floating mb-1 mb-md-0">
                              <strong><label for="inputFirstName">Siege</label></strong> 
                              {{form.siege}}
                           </div>
                        </div>
                        
                        <div class="col-md-8">
                           <div class="form-floating">
                              <strong><label for="inputFirstName">Document d'adhesion</label></strong> 
                              {{form.document}}
                           </div>
                        </div>
                       
                     </div>

                        <div class="row mb-1">
                           <div class="col-md-4">
                              <div class="form-floating">
                                 <strong><label for="inputFirstName">Date d'adhesion</label></strong> 
                                 {{form.date_adhesion}}
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-floating mb-1 mb-md-0">
                                 <strong><label for="inputFirstName">RIB</label></strong> 
                                 {{form.rib}}
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-floating mb-1 mb-md-0">
                                 <strong><label for="inputFirstName">Devise</label></strong> 
                                 {{form.devise}}
                              </div>
                           </div>
                           
                           
                           </div>
                   
                          <br> 
                          <div class="button-style" style="text-align: center;">
                           <button type="submit"  class="btn btn-success">
                              Enregistrer
                              <span><i class="fa fa-remove"></i></span>
                           </button>
                           <a href="{% url 'menus' %}" class="btn btn-secondary">Retour</a>
                           
                        </div>
                  </form>
               </div>
            </div>
         </div>
    </main>
    </section>
    </section>
</div>
</div>
</body>
</html>
{%endblock content%}

{% block js %}
<script>
 $(document).getElementById('iban').addEventListener('input', function (e) {
  e.target.value = e.target.value.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1 ').trim();
});
</script>
{%endblock%}
