{% extends 'base.html' %}
{% load permission_tags %}
{%block content%}
{% load static %}
{% load humanize %}
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.5">
   {% block css %}
   <link rel="stylesheet" href="{% static 'css/liste.css' %}" />
   <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
   <style>
      .header {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   height: 42px;
   position: relative;
   z-index: 3;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   }
   .tableFixHead {
      overflow: auto;
      height: 590px;
      }
      .montant{
      text-align: right;
      }
      .form-control {
      display: block;
      width: 100%;
      height: calc(1.7em + 8.60px + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
      .btn{
      padding: .375rem .75rem;
      }

   </style>
   {% endblock %}
</head>
<body>
   <center>
      <div class="col-md-13" style="background: url('/static/images/armony_light.png') no-repeat center fixed;">
            <div class="card-ressource shadow-lg border-0 rounded-lg mt-1 w-18 p-6 ">
               <div class="card-header">
                  <h3 class="text-center font-weight-light my-0">
                  HISTORIQUE ANNUELLE DES CONTRIBUTIONS GUINEENNES AUX ORGANISATIONS INTERNATIONALES 
               </div>
               <div>
                  <form role="form" action="{% url 'historique-situation' %}" method="post">
                     {% csrf_token %}
                     <table id="example" class="table table-striped table-bordered grid">
                        <th style="background-color: rgb(144, 143, 181);">CHOISIR UN EXERCICE</th>
                        <th style="background-color: rgb(144, 143, 181);">{{form.exercice}}</th>
                        <th style="background-color: rgb(144, 143, 181);">
                           <button type="submit"  class="btn btn-success" style="height: 2.5rem;">
                           Valider la recherche
                           </button>
                        </th>
                     </table>
                  </form>
               </div>
               <div class="card-body" >
                  <div class="tableFixHead">
                     <table id="example" class="table table-striped table-bordered grid">
                        <tbody>
                           <tr>
                              <th rowspan="2" style="vertical-align : middle;text-align:center;" > <strong>ORGANISATION</strong></th>
                              <!-- <th rowspan="2" style="vertical-align : middle;text-align:center;"> <strong>SIGLE</strong></th> -->
                              <th rowspan="2" style="vertical-align : middle;text-align:center;"> <strong>DEVISE</strong></th>
                              <th rowspan="2" style="vertical-align : middle;text-align:center;" ><strong>ARRIERE</strong></th>
                              <th rowspan="2" style="vertical-align : middle;text-align:center;"><strong>CONTRIBUTION</strong></th>
                              <th colspan="2" style="text-align: center;"><strong>MONTANT TOTAL DU</strong></th>
                              <th colspan="2" style="vertical-align : middle;text-align:center;"><strong>PAYE</strong></th>
                              <th colspan="2" style="vertical-align : middle;text-align:center;"><strong>RELIQUAT</strong></th>
                              
                           </tr>
                           <tr >
                              <th class="devise"><strong>Devise</strong></th>
                              <th class="equivalent"><strong>Equivalent</strong></th>
                              <th class="devise"><strong>Devise</strong></th>
                              <th class="equivalent" ><strong>Equivalent</strong></th>
                              <th class="devise" ><strong>Devise</strong></th>
                              <th class="equivalent" ><strong>Equivalent </strong></th>
                              
                           </tr>
                           {%  for situation in situations %}
                           <tr style="background-color: rgba(240, 248, 255, 0.467);"></tr>
                           <td style="text-align: left;" id ="{{situation.organisation.cd_organisation}}" data-id="{{situation.organisation.cd_organisation}}">{{situation.organisation.nom}} <strong>{{situation.organisation.sigle}}</strong></td>
                           <!-- <td style="text-align: center;">{{situation.organisation.sigle}}</td> -->
                           <td style="text-align: center;">{{situation.devise}}</td>
                           <td class="montant" id="arriere{{situation.organisation.cd_organisation}}" data-id="{{situation.arriere}}">{{situation.arriere|intcomma}} </td>
                           <td class="montant" id="contrib{{situation.organisation.cd_organisation}}" data-id="{{situation.contribution}} ">{{situation.contribution|intcomma}}  </td>
                           <td style="text-align: right;"><span id="devise{{situation.organisation.cd_organisation}}"></span></td>
                           <td class="montant" ><span id="eq_gnf{{situation.organisation.cd_organisation}}"></span></td>
                           <td class="montant" id="payer{{situation.organisation.cd_organisation}}">{{situation.paye|intcomma}}</td>
                           <td class="montant"><strong><span id="payer_gnf{{situation.organisation.cd_organisation}}"></span></strong></td>
                           <td class="montant"><strong><span id="reliquat_devise{{situation.organisation.cd_organisation}}"></span></strong></td>
                           <td class="montant"><strong><span id="reliquat_gnf{{situation.organisation.cd_organisation}}"></span></strong></td> 
                        </tr>
                           {% endfor %}
                           <tr style="background-color:rgb(99, 98, 153);" >
                              <td colspan="4" style="text-align: center; "> <strong>Total</strong> </td>
                              <td class="montant"><strong><span id="total_gnf_d"></span></strong></td>
                              <td class="montant"><strong><span id="total_gnf"></span></strong></td>
                              <td class="montant"><strong><span id="total_gnf_du"></span></strong></td>
                              <!-- <td class="montant"><strong></strong></td> -->
                             
                              <!-- <td class="montant"><strong></strong></td>
                              <td class="montant"><strong></strong></td> -->
                              <td class="montant"><strong><span id="total_payer_gnf">9999999</span></strong></td> 
                              <td class="montant"><strong><span id=""></span></strong></td>
                              <td class="montant"><strong><span id="total_reliquat_gnf">555555</span></strong></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
       
   </center>
</body>
</html>
{%endblock content%}
{% block js %}
<script src= "https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
   // $(document).ready(function () { $('#example').DataTable({ scrollY: '1000px', scrollCollapse: true, paging: false, }); });
    
    function formate(val){
         
         var reg = new RegExp("[,.]+", "g");
               let somme = val ;
               let formattedDecima = 0;
               let formattedNum = 0;
   
                  try{
                     let sommes = (somme.split(reg)[0]).replace(/\s/g,"");
                     let decimal = (somme.split(reg)[1]).replace(/\s/g,"");
                     formattedDecima = parseFloat(decimal).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
                     formattedNum = parseFloat(sommes).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
                     }
                     catch(error){
                                    // let sommes = (somme.split(reg)[0]).replace(/\s/g,"");
                        formattedNum = parseFloat(somme).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
                     }
                     return formattedNum;
    }
   
   let tau={{taux|safe}};
   let situation={{situations_json|safe}};
   console.log(situation);
   console.log(tau);
   let contrib=0;
   let arriere=0;
   let total_equi_gnf=0,total_paye=0;
   let total_gnf=document.getElementById('total_gnf')
   let total_payer_gnf=document.getElementById('total_payer_gnf');
   let total_reliquat_gnf=document.getElementById('total_reliquat_gnf');
   let equi_gnf=0,payer_gnf=0,rel_gnf=0;
   let ch_devise;
  // $('#id_exercice').on('change',function(){

     
      // alert(situation.length)
    $.each(situation, function(i,obj) { let devise="";let montant=0;
         let exercice=$('#id_exercice').val()
         let organisation=$('#'+obj.fields.organisation).data('id');
           if (exercice == obj.fields.exercice && organisation == obj.fields.organisation){
             contrib=$('#contrib'+organisation).data('id');
             arriere= $('#arriere'+organisation).data('id');
             equi= $('#eq_gnf'+organisation).data('id');
             let mt=document.getElementById(''+organisation);
             let eq=document.getElementById('eq_gnf'+organisation);
             let  devise=obj.fields.devise
             let taux=taux_devise(devise)
             let payer= document.getElementById('payer'+organisation).innerText.replace(/\s+/g, '');
             let paye_devise=parseFloat(payer/taux); 
             let p_gnf=document.getElementById('payer_gnf'+organisation);
             p_gnf.innerText=""+formate(parseInt(payer)*taux);
             let reliquat_devise=document.getElementById('reliquat_devise'+organisation);
            ch_devise=document.getElementById('devise'+organisation);
            ch_devise.innerText =""+(formate(parseInt(arriere) + parseInt(contrib)))
            reliquat_devise.innerText="" +formate(parseInt(ch_devise.innerText.replace(/\s+/g, '')) - parseInt(payer.replace(/\s+/g, '')));
            let reliquat_gnf=document.getElementById('reliquat_gnf'+organisation);
            reliquat_gnf.innerText=""+formate(parseInt(reliquat_devise.innerText.replace(/\s+/g, ''))*taux)
            eq.innerText=""+formate(calcult_Taux(devise, (parseInt(ch_devise.innerText.replace(/\s+/g, ''))-parseInt(paye_devise))));
            equi_gnf =parseInt(equi_gnf) + parseInt(eq.innerHTML.replace(/\s+/g, ''));
            total_paye=parseInt(total_paye) + parseInt(payer);
            total_equi_gnf =parseInt(total_equi_gnf) + parseInt(eq.innerText.replace(/\s+/g, ''));
            payer_gnf = parseInt(payer_gnf) + parseInt(p_gnf.innerText.replace(/\s+/g, ''));
            rel_gnf = parseInt(rel_gnf) + parseInt(reliquat_gnf.innerText.replace(/\s+/g, ''));
            }
    //  total_payer.innerText=formate(total_paye)
      total_gnf.innerText=formate(equi_gnf);
      total_payer_gnf.innerText=formate(payer_gnf);
      total_reliquat_gnf.innerText=formate(rel_gnf);
    });
  
    function calcult_Taux(devise, mt){
       let mt_equi=0;
       $.each(tau, function(i,obj) { 
          if (obj.fields.devise == devise){
             mt_equi=parseInt(mt)*parseInt(obj.fields.taux)
          }
       });
       return  mt_equi;
    }
    function taux_devise(devise){
       let taux=0;
       $.each(tau, function(i,obj) { 
          if (obj.fields.devise == devise){
             taux=parseInt(obj.fields.taux);
          }
       });
       return  taux;
    }
</script>
{% endblock %}
