{% extends 'base.html' %}
{% load permission_tags %}
{%block content%}
{% load static %}
<head>
   {% block css %}

   <style>
      .header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 42px;
    position: relative;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
   </style>
    {% endblock %}
</head>
<section id="main-content">
  <section class="wrapper">
<main>
   <div class="container" style="background: url('/static/images/armony_light.png') no-repeat center fixed; height: 580px; margin-top: 2rem;">
      <div class="row justify-content-center">
         <div class="col-lg-8" >
            <div class="card shadow-lg border-0 rounded-lg mt-2 w-1 p-2 " style="background-color: rgba(255, 255, 255, 0.532);">
               <div class="card-header1">
                  <h4 class="text-center font-weight-light my-0">Ouverture d'un Exercice </h4>
               </div>
               <div class="card-body">
                <form class="form-horizontal style-form" method="post" action="{% url 'modification-exercice' exercice.pk %}">
                  {% csrf_token %}         
                     <div class="row mb-1">
                        <div class="col-md-6">
                           <div class="form-floating mb-1 mb-md-0">
                              <strong><label for="inputFirstName">Exercice</label></strong> 
                              {{form.numero}}
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-floating">
                              <strong><label for="inputFirstName">Statut</label></strong> 
                              {{form.statut}}
                           </div>
                        </div>
                        
                     </div>
                     
                          <br> 
                          <div class="button-style" style="text-align: center;">
                           <button type="submit"  class="btn btn-success">
                              Enregistrer
                              <span><i class="fa fa-remove"></i></span>
                           </button>
                           <a href="{% url 'menus' %}" class="btn btn-secondary">Retour</a>
                           
                        </div>
                  </form>
               </div>
            </div>
         </div>
    </main>
    </section>
    </section>
</div>
</div>
</body>
</html>
{%endblock content%}
