{% extends 'base.html' %}
{% load permission_tags %}
{%block content%}
{% load static %}
{% load humanize %}
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.5">
   {% block css %}
   <link rel="stylesheet" href="{% static 'css/liste.css' %}" />
   <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
   <style>
      .header {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   height: 42px;
   position: relative;
   z-index: 3;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   }
       .tableFixHead {
      overflow: auto;
      height: 590px;
      }
      .montant{
         text-align: right;
      }
      .devise{
        
      
         width: 90px;
      }
      .equivalent{
         text-align: right;
         width: 115px;
      }
   </style>
   {% endblock %}
</head>
<body>
   <div class="container1">
   <div class="row1">
      <center>
        
            <div class="col-md-13" style="background: url('/static/images/armony_light.png') no-repeat center fixed;">
            <div class="card-ressource shadow-lg border-0 rounded-lg mt-1 w-18 p-6 ">
         <div class="card-header">
            {% for planen in planens %}
            <h3 class="text-center font-weight-light my-0" id="exercice" data-id="{{planen.exercice}}">  SIMULATION DU PLAN D'ENGAGEMENT POUR LE   {{planen.periode.libelle}} DE L'EXERCICE  {{planen.exercice}}
                
               
             

         </div>
         <div class="card-body" id="plan" data-id="{{planen.id}}" >
            
            <div class="tableFixHead">
               <table id="example" class="table table-striped table-bordered grid">
                  <tbody>
                   
                        <tr>
                           <th rowspan="2" style="vertical-align : middle;text-align:center;" > <strong>ORGANISATION</strong></th>
                           <!-- <th rowspan="2" style="vertical-align : middle;text-align:center;"> <strong>SIGLE</strong></th> -->
                           <th rowspan="2" style="vertical-align : middle;text-align:center;width: 5px;"> <strong>DEVISE</strong></th>
                           <th rowspan="2" style="vertical-align : middle;text-align:center;" ><strong>ARRIERE</strong></th>
                           <th rowspan="2" style="vertical-align : middle;text-align:center;"><strong>CONTRIBUTION</strong></th>
                           <th colspan="2" style="text-align: center;"><strong>MONTANT TOTAL DU</strong></th> 
                           <th colspan="3" style="vertical-align : middle;text-align:center;"><strong>PROPOSITION DE PAIEMENT</strong></th>
                          
                          
                        </tr>
                        <tr >
                           <th class="devise"><strong>Devise</strong></th>
                           <th class="equivalent"><strong>Equivalent</strong></th> 
                        
                           <th class="devise"><strong>Devise</strong></th>
                           <th style="width: 100px;"><strong>Equivalent</strong></th> 
                           <th style="width: 10px;">%</th> 
                        
                          
                        </tr>
                   
                     {% for situation in situations %}
                    <tr style="background-color: rgba(240, 248, 255, 0.467);"></tr>
                     <td style="text-align: left;">{{situation.organisation.nom}} <strong>{{situation.organisation.sigle}}</strong></td>
               
                     <td style="text-align: center;">{{situation.organisation.Devise}}</td>
                     <td class="devise" id="arriere{{situation.organisation.cd_organisation}}" data-id="{{situation.arriere}}">{{situation.arriere|intcomma}}</td>
                     <td class="devise" id="contrib{{situation.organisation.cd_organisation}}" data-id="{{situation.contribution}} ">{{situation.contribution|intcomma}}</td>
                    
                     <td style="text-align: right;"><span id="mt_du_{{situation.organisation.cd_organisation}}"></span></td>
                     <td class="montant" ><span id="eq_gnf{{situation.organisation.cd_organisation}}"></span></td>
                     <td class="montant" id="payer{{situation.organisation.cd_organisation}}"></td>
                     <td ><input type="text" class="proposition"  id="proposition_{{situation.organisation.cd_organisation}}" style="width: 120px; text-align:right;"></input></td>
                     <td  ><input type="text"  class="pourcentage" id="pourcentage_{{situation.organisation.cd_organisation}}" style="width: 50px; text-align:right;"></input></td>
                   </tr>
                  
                   {% endfor %}   
                   </tbody>
                      <tr style="background-color:rgb(99, 98, 153);" >
                     <td colspan="5" style="text-align: center; "> <strong>Total</strong> </td>
                     <!-- <td ><strong><span id="total_gnf_d"></span></strong></td> -->
                     <td ><strong><span id="total_gnf_du"></span></strong></td>
                     <td ><strong><span id="total_gnfaa"></span></strong></td>
                     
                     <td ><strong><input type="text"  id="total_gnf" style="width: 120px;text-align: right;"></input></strong></td>
                     <td></td>
                  </tr>
                     <tr style="background-color:rgb(146, 146, 183);" >
                        <td colspan="7"> <strong>Montant total prevu par le plan d'engagement</strong> </td>
                        <td class="montant"><strong>{{planen.montant|intcomma}}</td>
                           <td></td>
                
                        {% endfor %}  
                        </tr>
                    
                  
               </table>
                    
                  
               </div>
               <!-- <a
               data-toggle="tooltip" title="Valider"
               class="btn-icones btn-primary  fa fa-save save" style="background-color:gray;">
               </a> -->
                <div class="button-style" style="color:gray;">
                  <button type="submit"  class="btn btn-success save">
                     ENREGISTER LA PROPOSTION
                   
                  </button>
                  
                  
               </div>
            </div>
         </div>
      </div>
   </div>
</center>
</body>
</html>
{%endblock content%}
{% block js %}
<script src= "https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
   $(document).ready(function () {  
     // $('#total_gnf').val(0)
     let somme = 0;
      // $("[id^=proposition_]").change(function(){ 
      //    somme=parseInt(somme) + parseInt($(this).val().replace(/\s/g,"")); 
      //    console.log('*****************',somme);
      //    $('#total_gnf').val(formate(parseInt(somme)));
      // });  

      $("[id^=proposition]").each(function(i){        
         somme=parseInt(somme) + parseInt($(this).val().replace(/\s/g,"")); 
        // console.log('*****************',somme);
         $('#total_gnf').val(formate(parseInt(somme)));
      });
     
   });
  $('.proposition').on('keyup', function (e){
   var nombre = ($(this).val()+"").replace(/[^0-9+\-Ee.]/g, '');
   $(this).val(new Intl.NumberFormat().format(nombre))
   //$(this).val( o.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1'+separator) )
  })
   function formate(val){
        
        var reg = new RegExp("[,.]+", "g");
              let somme = val ;
              let formattedDecima = 0;
              let formattedNum = 0;

                 try{
                    let sommes = (somme.split(reg)[0]).replace(/\s/g,"");
                    let decimal = (somme.split(reg)[1]).replace(/\s/g,"");
                    formattedDecima = parseFloat(decimal).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
                    formattedNum = parseFloat(sommes).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
                    }
                    catch(error){
                                   // let sommes = (somme.split(reg)[0]).replace(/\s/g,"");
                       formattedNum = parseFloat(somme).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
                    }
                    return formattedNum;
   }
//alert('*************************************')
let tau={{taux|safe}};
let inst={{institution_json|safe}};
let situation={{situations_json|safe}};
let proposition_plan={{proposition_plan|safe}};
console.log(proposition_plan);
console.log(situation);
console.log(tau);
let contrib=0;
let arriere=0;
let total_proposition = 0,total_paye=0;
let total_gnf_pro=0;

let total_gnf_du=document.getElementById('total_gnf_du')
let equi_gnf=0;
let mt_du;
let total_gnf_cont =0;
   $.each(situation, function(i,obj) { let devise="";let montant=0;
        $.each(inst, function(j,obj1) { 
          if (obj1.pk == obj.fields.organisation){ //alert('****************************')
            contrib=$('#contrib'+obj1.pk).data('id');
            arriere= $('#arriere'+obj1.pk).data('id');
            let eq=document.getElementById('eq_gnf'+obj1.pk);
            devise=obj.fields.devise
            let taux=taux_devise(devise)
            mt_du=document.getElementById('mt_du_'+obj1.pk);
            mt_du.innerText =(formate(parseInt(arriere) + parseInt(contrib))) 
            eq.innerText=""+formate(calcult_Taux(devise, parseInt((mt_du.innerText).replace(/\s+/g, '') || 0)));
            let pro= $('#arriere'+obj1.pk).val()
            total_gnf_cont =parseInt(total_gnf_cont) + parseInt(eq.innerText.replace(/\s+/g, ''))
            let proposi=($('#proposition_'+obj1.pk).val())//.replace(/\s+/g, '')
            total_proposition =parseInt(total_proposition) + parseInt(proposi)           
         }
       }); 
      total_gnf_du.innerText=formate(total_gnf_cont)
  
   });
 
   let pro=0,somme=0,mt_pro=0;
   let total_pro=document.getElementById('total_gnf');
   let plan_eng= $('#plan').data('id');
   let exo=$('#exercice').data('id')
   $.each(proposition_plan, function(i,obj) {
      if (plan_eng == obj.fields.plan && exo == obj.fields.exercice ){
         $('#proposition_'+obj.fields.organisation).val(obj.fields.montant);
         $.each(inst, function(j,obj1) { 
               let payer= document.getElementById('payer'+obj1.pk);  
               if (obj.fields.organisation == obj1.pk){ 
                   mt_pro= $('#proposition_'+obj.fields.organisation).val() ;                                                                  
                  let tau_devise=taux_devise(obj1.fields.Devise);
                  payer.innerText =formate(parseInt(mt_pro/tau_devise)); 
                  let eq=document.getElementById('eq_gnf'+obj1.pk);
                  let v=parseFloat((parseInt(mt_pro)*100)/parseInt(eq.innerText.replace(/\s+/g, '')))
                  $('#pourcentage_'+obj1.pk).val(v);
                 
               }             
            }); 
            pro=parseInt(pro) + parseInt(mt_pro)
           // $('#total_gnf').val(pro);
            $("[id^=proposition]").each(function(i){        
                somme=parseInt(somme) + parseInt($(this).val().replace(/\s/g,"")); 
                   // console.log('*****************',somme);
                $('#total_gnf').val(formate(parseInt(somme)));
            });
      }
    });
  
   $('.proposition').keyup(function(e){
         let organisation= $(this).attr('id');
         let somme=0;
       // $.each(situation, function(i,obj) { 
            $.each(inst, function(j,obj1) { 
             
                  if (obj1.pk == organisation.split('_')[1]){
                    let payer= document.getElementById('payer'+obj1.pk);                                      
                    pro=($('#proposition_'+obj1.pk).val()).replace(/\s+/g, '');                                                      
                    let tau_devise=taux_devise(obj1.fields.Devise);
                    let eq=document.getElementById('eq_gnf'+obj1.pk);
                    let v=parseFloat((parseInt(pro)*100)/parseInt(eq.innerText.replace(/\s+/g, ''))).toFixed(2);
                    $('#pourcentage_'+obj1.pk).val(v);
                    let so=pro
                    payer.innerText =formate(parseInt(pro/tau_devise).toFixed(2)); 
                    let total=parseInt($('#total_gnf').val().replace(/\s+/g, '')) + parseInt(pro);
                   // $('#total_gnf').val(total);
                    $("[id^=proposition]").each(function(i){        
                        somme=parseInt(somme) + parseInt($(this).val().replace(/\s/g,""));                   
                        $('#total_gnf').val(formate(parseInt(somme)));
                     });
                 }   
            }); 
   });
   
   $('.pourcentage').keyup(function(e){

// $.each(situation, function(i,obj) { 
      let organisation = $(this).attr('id');
      let somme=0;
   
      console.log(inst);
      $.each(inst, function(j,obj1) { 
            if (obj1.pk == organisation.split('_')[1]){
               let payer= document.getElementById('payer'+obj1.pk);                                      
               let pourcentage=($('#pourcentage_'+obj1.pk).val()).replace(/\s+/g, '');  
               let eq=document.getElementById('eq_gnf'+obj1.pk);
               let val=parseFloat(((parseInt(eq.innerText.replace(/\s+/g, ''))*parseFloat(pourcentage))/100),2) ;
               console.log(val)
               $('#proposition_'+obj1.pk).val(formate(val));                          
               let tau_devise=taux_devise(obj1.fields.Devise);
               let so=pro
               payer.innerText =formate(parseInt(val/tau_devise).toFixed(2));  
               console.log(payer)
               let total=parseInt($('#total_gnf').val().replace(/\s+/g, '')) + parseInt(pro);
              // $('#total_gnf').val(total);
               $("[id^=proposition]").each(function(i){        
                     somme=parseInt(somme) + parseInt($(this).val().replace(/\s/g,"")); 
                     $('#total_gnf').val(formate(parseInt(somme)));
               });
              
         }            
      }); 
   });


   function calcult_Taux(devise, mt){ 
      let mt_equi=0;
      $.each(tau, function(i,obj) { 
         if (obj.fields.devise == devise){
            if (isNaN(mt)){
               mt_equi=0;
            }
            else {
               mt_equi=parseInt(mt)*parseInt(obj.fields.taux);
            }
         }
      });
      return  mt_equi;
   }

   function taux_devise(devise){
      let taux=0;
      $.each(tau, function(i,obj) { 
         if (obj.fields.devise == devise){
           
            taux=parseInt(obj.fields.taux);
         }
      });
      return  taux;
   }
   //$('#total_gnf').val(0);
   $('.proposition').keyup(function(e){
     
     var reg = new RegExp("[,.]+", "g");
     let somme = $(this).val().toString();
     let formattedDecima = 0;
     let formattedNum = 0;
     let sommes = (somme.split(reg)[0]).replace(/\s/g,"");
     try{
         let decimal = (somme.split(reg)[1]).replace(/\s/g,"");
         formattedDecima = parseFloat(decimal).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
         formattedNum = parseFloat(sommes).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
     }
     catch(error){
         // let sommes = (somme.split(reg)[0]).replace(/\s/g,"");
         formattedNum = parseFloat(sommes).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
     }
     if(!(event.keyCode === 188)){
         if(!(isNaN(parseFloat(formattedNum.toString().replace(/\s/g,""))))){
             if(!(isNaN(parseFloat(formattedDecima.toString().replace(/\s/g,"")))) && parseFloat(formattedDecima.toString().replace(/\s/g,"")) != 0){
                 $(this).val(formattedNum+','+formattedDecima);
             }else{
                 $(this).val(formattedNum);
             }
            
         }
     }
   });

   $('.save').click(function(e){
      let tab_pro=[];
      let tab_orga=[];
      let exercice;
     
      var csrf=$('input[name=csrfmiddlewaretoken]').val();
      let plan=$('#plan').data('id');
      $("[id^=proposition]").each(function(i){        
         let vv=$(this).attr('id');
       
         if(vv.split('_')[1] !==undefined){
            tab_pro[i]=vv.split('_')[1];
         }          
         tab_orga[i]=( $(this).val() || 0);  
              
      });
    
      $.ajax({
                  url:"{% url 'enregistrement-proposition' %}",
                  method:"GET",
                  data:{ 
                     'exercice':$('#exercice').data('id'),  
                     'plan':plan,                
                     tab_pro,
                     tab_orga,
                     'csrfmiddlewaretoken': csrf,
                  },
                  success:function(response){
                     
                  }
               })
     
   });

</script>
{% endblock %}
