{% extends 'base.html' %}
{% load permission_tags %}
{%block content%}
{% load static %}
{% load humanize %}
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.5">
   {% block css %}
   <link rel="stylesheet" href="{% static 'css/liste.css' %}" />
   <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
   <style>
      .tableFixHead {
      overflow: auto;
      height: 630px;
      }
      .montant{
      text-align: right;
      }
      .devise{
      width: 92px;
      }
      .equivalent{
      text-align: right;
      width: 117px;
      }
   </style>
   {% endblock %}
</head>
<body>
   <div class="container1">
      <div class="row1" style="background: url('/static/images/armony_light.png') no-repeat center fixed;">
      <center>
         <div class="col-md-18" style="height: 620px;">
            <div class="card-ressource shadow-lg border-0 rounded-lg mt-1 w-18 p-6 ">
               <div class="card-header">
                  <h3 class="text-center font-weight-light my-0">
                  SYNTHESE DES CONTRIBUTIONS GUINEENNES AUX ORGANISATIONS INTERNATIONALES 
               </div>
               <div class="card-body" >
                  <div class="tableFixHead">
                     <table id="example" class="table table-striped table-bordered grid">
                        <tbody>
                           <tr>
                              <th rowspan="2" style="vertical-align : middle;text-align:center;" > <strong>ORGANISATION</strong></th>
                              <!-- <th rowspan="2" style="vertical-align : middle;text-align:center;"> <strong>SIGLE</strong></th> -->
                              <th rowspan="2" style="vertical-align : middle;text-align:center;"> <strong>DEVISE</strong></th>
                              <th rowspan="2" style="vertical-align : middle;text-align:center;" ><strong>ARRIERE</strong></th>
                              <th rowspan="2" style="vertical-align : middle;text-align:center;"><strong>CONTRIBUTION</strong></th>
                              <th colspan="2" style="text-align: center;"><strong>MONTANT TOTAL DU</strong></th>
                              <th colspan="2" style="vertical-align : middle;text-align:center;"><strong>PAYE</strong></th>
                              <th colspan="2" style="vertical-align : middle;text-align:center;"><strong>RESTE DEVOIR</strong></th>
                              {% if request.user.is_superuser or user.groupe.name in 'agent,daf,chefequipe' %}
                              <th></th>
                              {% endif%}
                           </tr>
                           <tr >
                              <th class="devise"><strong>Devise</strong></th>
                              <th class="equivalent"><strong>Equivalent</strong></th>
                              <th class="devise"><strong>Devise</strong></th>
                              <th class="equivalent" ><strong>Equivalent</strong></th>
                              <th class="devise" ><strong>Devise</strong></th>
                              <th class="equivalent" ><strong>Equivalent </strong></th>
                              {% if request.user.is_superuser or user.groupe.name in 'agent,daf,chefequipe' %}
                              <th></th>
                              {% endif%}
                           </tr>
                           {%  for situation in situations %}
                           {% for institution in institutions %}
                           {% if institution.cd_organisation == situation.organisation.cd_organisation %}
                           <tr style="background-color: rgba(240, 248, 255, 0.467);"></tr>
                           <td style="text-align: left;width: 50rem;">{{institution.nom}} <strong>{{institution.sigle}}</strong></td>
                           <!-- <td style="text-align: center;">{{institution.sigle}}</td> -->
                           <td style="text-align: center;"><strong>{{institution.Devise}}</strong></td>
                           <td class="devise" id="arriere{{institution.cd_organisation}}" data-id="{{situation.arriere}}" style="text-align: right;">{{situation.arriere|intcomma}}</td>
                           <td class="devise" id="contrib{{institution.cd_organisation}}" data-id="{{situation.contribution}} " style="text-align: right;">{{situation.contribution|intcomma}}</td>
                           <td style="text-align: right;"><span id="mt_du_{{institution.cd_organisation}}"></span></td>
                           <td class="montant" ><span id="eq_gnf{{institution.cd_organisation}}"></span></td>
                           <td class="montant" id="payer{{institution.cd_organisation}}">{{situation.paye|intcomma}}</td>
                           <td class="montant" ><span id="payer_gnf{{institution.cd_organisation}}"></span></td>
                           <td class="montant" ><span id="reste_payer_devise{{institution.cd_organisation}}"></span></td>
                           <td class="montant" ><span id="reste_payer_gnf{{institution.cd_organisation}}"></span></td>
                           {% if request.user.is_superuser or user.groupe.name in 'agent,daf,chefequipe' %}
                           <td class="icone" style="width: 3%;">
                              <a href="{% url 'historique' institution.pk%}"
                                 data-toggle="tooltip" title="Historique"
                                 class="btn-icones btn-primary btn-xs fa fa-book" style=" background-color: #77b0ad;">
                              </a>
                              <a href="{% url 'situation-engagement' situation.pk %}"
                                 data-toggle="tooltip" title="liste des engagements"
                                 class="btn-icones btn-primary btn-xs fa fa-money" style=" background-color: #b5cab0; ">
                              </a>
                           </td>
                           {% endif%}
                           {% endif%}
                           </tr>
                           {% endfor %}
                           {% endfor %}   
                        </tbody>
                        <tr style="background-color:rgb(99, 98, 153);" >
                           <td colspan="4" style="text-align: center; "> <strong>Total</strong> </td>
                           <td class="montant"><strong><span id="total_gnf_d"></span></strong></td>
                           <td class="montant"><strong><span id="total_gnf_du"></span></strong></td>
                           <td class="montant"><strong></strong></td>
                           <td class="montant"><strong><span id="total_gnf"></span></strong></td>
                           <td class="montant"><strong></strong></td>
                           <td class="montant"><strong><span id="total_reste_payer_gnf"></span></strong></td>
                           {% if request.user.is_superuser or user.groupe.name in 'agent,daf,chefequipe' %}
                           <td></td>
                           {% endif%}

                        </tr>
                       
                     </table>
                  </div>
               </div>
               {% if request.user.is_superuser or user.groupe.name in 'daf,chefequipe,adm' %}
               <tr>
                  <td  style="text-align: left; font-size: 50px;">
                     <a  href="{% url 'extration-situation'%}"class="btn-icones btn-primary btn-xs fa fa-file-excel-o">
                        <strong>Exporter la situation</strong>
                       </a></h3>
                     </td>
               </tr>
               {% endif %}
            </div>
         </div>
   </div>
   </center>
</body>
</html>
{%endblock content%}
{% block js %}
<script src= "https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
   // $(document).ready(function () { $('#example').DataTable({ scrollY: '1000px', scrollCollapse: true, paging: false, }); });
    
    function formate(val){
         
         var reg = new RegExp("[,.]+", "g");
               let somme = val ;
               let formattedDecima = 0;
               let formattedNum = 0;
   
                  try{
                     let sommes = (somme.split(reg)[0]).replace(/\s/g,"");
                     let decimal = (somme.split(reg)[1]).replace(/\s/g,"");
                     formattedDecima = parseFloat(decimal).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
                     formattedNum = parseFloat(sommes).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
                     }
                     catch(error){
                                    // let sommes = (somme.split(reg)[0]).replace(/\s/g,"");
                        formattedNum = parseFloat(somme).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
                     }
                     return formattedNum;
    }
   
   let tau={{taux|safe}};
   let inst={{institutions_json|safe}};
   let situation={{situations_json|safe}};
   console.log(inst);
   console.log(situation);
   console.log(tau);
   let contrib=0;
   let arriere=0;
   let total_reste_gnf = 0,total_paye=0;
   let total_gnf=document.getElementById('total_gnf')
   let total_reste_payer_gnf=document.getElementById('total_reste_payer_gnf')
   let total_gnf_du=document.getElementById('total_gnf_du')
   let equi_gnf=0;
   let mt_du;
   let total_gnf_cont =0;
    $.each(situation, function(i,obj) { let devise="";let montant=0;
         $.each(inst, function(j,obj1) { 
           if (obj1.pk == obj.fields.organisation){
             contrib=$('#contrib'+obj1.pk).data('id');
             arriere= $('#arriere'+obj1.pk).data('id');
             equi= $('#eq_gnf'+obj1.pk).data('id');
             let mt=document.getElementById(''+obj1.pk);
             let eq=document.getElementById('eq_gnf'+obj1.pk);
             devise=obj.fields.devise
             let taux=taux_devise(devise)
             let payer= document.getElementById('payer'+obj1.pk).innerText.replace(/\s+/g, '');
             let mt_gnf=parseFloat(payer/taux); 
             mt_du=document.getElementById('mt_du_'+obj1.pk);
             mt_du.innerText =(formate(parseInt(arriere) + parseInt(contrib))) 
             eq.innerText=""+formate(calcult_Taux(devise, (mt_du.innerText).replace(/\s+/g, '')));
             let payer_gnf=document.getElementById('payer_gnf'+obj1.pk);//
             payer_gnf.innerText=""+formate(calcult_Taux(devise, (payer).replace(/\s+/g, '')));
             let reste_payer_devise=document.getElementById('reste_payer_devise'+obj1.pk); //
             reste_payer_devise.innerText=formate(parseInt(mt_du.innerText.replace(/\s+/g, '')) - parseInt((payer).replace(/\s+/g, '')))
             equi_gnf =parseInt(equi_gnf) + parseInt(payer_gnf.innerText.replace(/\s+/g, ''))
             let reste_payer_gnf=document.getElementById('reste_payer_gnf'+obj1.pk);
             reste_payer_gnf.innerText = ""+formate(calcult_Taux(devise, (reste_payer_devise.innerText).replace(/\s+/g, '')));
             total_reste_gnf =parseInt(total_reste_gnf) + parseInt(reste_payer_gnf.innerText.replace(/\s+/g, ''))
             total_gnf_cont =parseInt(total_gnf_cont) + parseInt(eq.innerText.replace(/\s+/g, ''))
          }
        }); 
       total_gnf.innerText = formate(equi_gnf);
       total_reste_payer_gnf.innerText= formate(total_reste_gnf);
       total_gnf_du.innerText=formate(total_gnf_cont)
    });
    
    function calcult_Taux(devise, mt){
       let mt_equi=0;
       $.each(tau, function(i,obj) { 
          if (obj.fields.devise == devise){
             mt_equi=parseInt(mt)*parseInt(obj.fields.taux)
          }
       });
       return  mt_equi;
    }
    function taux_devise(devise){
       let taux=0;
       $.each(tau, function(i,obj) { 
          if (obj.fields.devise == devise){
             taux=parseInt(obj.fields.taux);
          }
       });
       return  taux;
    }
</script>
{% endblock %}
