{% extends 'base.html' %}
{% load permission_tags %}
{% load static %}
{%block content%}
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.5">
   {% block css %}
   <link rel="stylesheet" href="{% static 'css/liste.css' %}" />
   <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
   
  
  <style>
    .tableFixHead {
      overflow: auto;
      height: 640px;
      }
   
  </style>
   {% endblock %}
</head>
<body>
   <div class="container"  id="custom-target">
   <div class="row1">
      <center>
        
            <div class="card-ressource shadow-lg border-0 rounded-lg mt-1 w-18 p-7 ">
         <div class="card-header">
                  <h3 class="text-center font-weight-light my-0">Liste des Utilisateurs </h3>
               </div>
              
               <div class="card-body">
                  <div class="tableFixHead">
                     <table id="example" class="table table-striped table-bordered grid">
                        <tbody>
                           <tr>
                              <th>Prénoms et Nom</th>
                              <th >Identifiant</th>
                              <th >Groupe</th>
                              <th >Tutelle</th>
                              <th >Statut</th>
                              <th>Derniere Connexion</th>
                              <th style="width:5%; "></th>
                           </tr>
                        <tbody>
                           {% for user in users%}
                           <tr>
                              <td>{{user.full_name}}</td>
                              <td>{{user.email}}</td>
                              <td style="text-align: center;">{{user.groupe}}</td>
                              <td>{{user.service.libelle}}</td>
                              <td style="text-align: center;">
                                 {%if user.is_active %}
                                     <strong style="color: green;">En Service</strong>                                
                                 {%else%}
                                     <strong style="color: red;">Suspendu</strong>
                                 {% endif %}
                             </td>
                              <td>{%if user.last_login.date is  none%}
                                 <strong>Pas de connexion</strong>  
                                 {%else%}
                                 {{user.last_login}}
                                 {% endif%}
                              </td>
                              
                              <td style="text-align: center; width: 29px;">
                                 {%if user.is_active %}
                                 <a href="#" data-id="{{user.id}}" id="a-{{user.id}}"
														data-toggle="modal" data-target="#activer{{user.id}}" title="Cliquer pour desactiver ce compte"
														class="btn-icones btn-primary btn-xs fa fa-lock">
														<i class="" id="i-{{user.id}}"></i>
                                 </a>
                                 {% else %}
                                 <a href="#" data-id="{{user.id}}" id="a-{{user.id}}"
                                    data-toggle="modal" data-target="#activer{{user.id}}" title="Cliquer pour activer ce compte"
                                    class="btn-icones btn-primary btn-xs fa fa-unlock">
                                  <i class="" id="i-{{user.id}}"></i>
                                 </a>
                                 {%endif%}
                                <a href="{% url 'modification-users' user.id  %}"
                                          data-toggle="tooltip" title="Modifier" 
                                          class="btn-icones btn-primary btn-xs fa fa-pencil"><i class=" " ></i>
                                 </a>
                              </td>
                           </tr>
                     {% if user.is_active %}  
                     <div id="activer{{user.id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <form role="form2" action="{% url 'desactivation-users' user.id %}" method="post">
                           {% csrf_token %}
                           <div class="modal-dialog modal-lmd" role="document">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title">Desactivation</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                 </div>
                                 <div class="modal-body">
                                    <input type="hidden"/>
                                    <div>
                                       <p>Voulez-vous desactiver cet utilisateur</p>
                                    </div>
                                 </div>
                                 <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit" name="transmit" id="activer{{user.id}}" data-id="{{user.id}}" > Desactiver</button>
                                    
                                    <button class="btn btn-annuler" type="button" data-dismiss="modal">Annuler</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                     {% else %}
                     <div id="activer{{user.id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <form role="form2" action="{% url 'activation-users' user.id %}" method="post">
                           {% csrf_token %}
                           <div class="modal-dialog modal-lmd" role="document">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title">Activation</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                 </div>
                                 <div class="modal-body">
                                    <input type="hidden"/>
                                    <div>
                                       <p>Voulez-vous activer cet utilisateur</p>
                                    </div>
                                 </div>
                                 <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit" name="transmit" id="activer{{user.id}}" data-id="{{user.id}}" >Activer</button>
                                    <button class="btn btn-annuler" type="button" data-dismiss="modal">Annuler</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                     {% endif %}
                     {%endfor%}
                  </tbody>      
               </table>
            </div>
         </div>
      </div>
   </div>
</center>
</div>
</body>

{%endblock content%}
